/.metadata/
ArrayRotation/.classpath
ArrayRotation/.project
ArrayRotation/.settings/
ArrayRotation/bin/
/.recommenders/
RearrangeMixMax/.classpath
RearrangeMixMax/.project
RearrangeMixMax/.settings/
RearrangeMixMax/bin/
